<html>
<head>
<script src="angular.js"></script>
<link rel="stylesheet" type="text/css" href="librivox_search.css">
</head>
<body ng-app="librivoxSearch">
    <div ng-controller="librivoxSearchController" class="librivoxSearchWidget">
      <form role="search" id="searchform" class="searchform">
        <h1 class="librivoxSearchHeader">Search Libri<b>VOX</b></h1>
		<p>Author Last Name: <input type="text" name="searchTerm" ng-model="searchTerm" ng-trim></p>
        <p>Filter by Title: <input ng-model="filterText"></p>
        <p><label><input type="checkbox" ng-model="showDesc"> Show full book description.</label></p>
		<input type="button" value="Search" ng-click="processSearch()" id="librivoxSearchSubmit" name="librivoxSearchSubmit" class="librivoxSearchSubmit">
	  </form
    <p>{{ records }}</p>
      <span ng-repeat="book in data.books | filter:{title:filterText}" class="book-data">
            <p>ID: {{ book.id }}</p>
            <p>TITLE: {{ book.title }}</p>
            <p>AUTHOR(S):</p>
            <span ng-repeat = "author in book.authors">
                <p>{{ author.first_name }} &nbsp;{{ author.last_name }}</p>
            </span> 
            <p ng-hide="hideDesc" class="ng-hide">DESCRIPTION: {{ book.description | htmlToPlaintext }}</p>
            <p>ZIP FILE DOWNLOAD: <a href="{{ book.url_zip_file }}">{{ book.url_zip_file }}</a></p>
            <p>LIBRIVOX URL: <a href="{{ book.url_librivox }}">{{ book.url_librivox }}</a></p>
            <p>TOTAL TIME: {{ book.totaltime }}</p>
            <p>***********************************</p>
       </span>
     </div>
    <script src="librivox_search.js"></script></script>
</body>
</html>