
.leftblock {
    float:  left;
    width: 50%;
    background-color: #f2f1ee;
    padding: 10px 10px 10px 25px;
    box-sizing: border-box;
}

.rightblock {
    float:  right;
    width:  50%;
    background-color: #c1fcc1;
    padding: 10px 25px 10px 10px;
    box-sizing: border-box;
}

.librivoxSearchWidget {
    font-family: Helvetica, Arial, sans-serif;
    color:#000;
    background-color: #f2f1ee;
}

.librivoxSearchHeader {
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 15px;    	
    font-size: 1.375em; 
}

.book-data {
	font-size: 0.8125em; /* 13/16 */ 
	margin-bottom: 7px;
}
